@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #f6f6f6;

  --overlay: rgba(0, 0, 0, 0.8); /* background color overlay for alert dialogs, modals, etc. */
  --accent: #88aaee;

  --bg: #fff;
  --bw: #fd9745;
  --blank: #000; /* blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #000;
  --atext: #e6e6e6;
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 17px;
  --box-shadow-x: 6px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -6px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 900;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --main: #2e2e2e;

  --bg: #191818;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #e6e6e6;
  --atext: #e6e6e6;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}
